<h1>Családi ToDo lista</h1>
<br><br>
<blockquote>
   Feladatok/Teendők
</blockquote>
<br><br>
<div class="panel panel-default">
    <div class="panel-body">
        <p> Üdv a családi teendőket nyilvántartó alkalmazásban.</p>
        <p> </p>
        <p> Bejelentkezést követően láthatóak a korábban rögzített tennivalók (angolul to do).</p>
        <p> Lehetőség van feladatok tárolására, utólagos módosítására, törlésére, priorizálására és lekérdezésére a pontos név alapján.</p>
        <p> </p>
    </div>
</div>